################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Position-Based-Dynamics.sln
/Assembly-CSharp.csproj
/UserSettings
/Temp
/obj/Debug
/Logs
/Library
/.vs/Position-Based-Dynamics/v16/TestStore/0
/Packages
